.card-wrapper {
    display: inline-block;
    perspective: 1000px;
    width: 100%;
}

.card {
    position: relative;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;
    height: 50vh;
    width: 100%;
    padding: 15px;
}

.card .front,
.card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    -webkit-box-shadow: -16px -5px 11px -12px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: -16px -5px 11px -12px rgba(0, 0, 0, 0.65);
    box-shadow: -16px -5px 11px -12px rgba(0, 0, 0, 0.65);
}

.card .front {
    z-index: 2;
    background: #FFFFFF;
}

.card .back {
    background: #FFFFFF;
}

/* Animation classes */
.flip-right .card .back {
    transform: rotateY(180deg);
}

.singUpClass .flip-right .card {
    transform: rotateY(180deg);
}

.flip-left .card .back {
    transform: rotateY(-180deg);
}

.signUpClass .flip-left .card {
    transform: rotateY(-180deg);
}
